<html>
<head>
    <title>Hello World</title>
    <link rel="stylesheet" href="<?php echo Yaf_Registry::get("httphost")?>public/css/main.css">
</head>
<body>
<hr>
<a href="index.php/Auth/Logout">выйти</a>
<hr>

<section class="container-fluid">
    <?php if(!empty($user)): ?>
        <?php print_r($user)?>
    <?php endif; ?>
</section>

</body>
</html>