<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Image</title>
</head>
<body>
<h2>Upload Image</h2>

<section>
    <div class="container">
        <form action="index.php/UploadImage/upload" method=post enctype=multipart/form-data>
            <input type="hidden" name="csrf" value="<?php echo $token ?>">
            <label for="categoryid">Category</label>
            <select name="category" id="categoryid" required>
                <?php if(!empty($categories)): ?>
                    <?php foreach ($categories as $cat): ?>
                        <option value='<?php echo $cat['id']?>'><?php echo $cat['Name']?></option>
                    <?php endforeach; ?>
                <?php endif; ?>
            </select>
            <br><br>
            <input type=file name=uploadfile>
            <br><br>
            <input type=submit value=Upload></form>
        </form>
    </div>
</section>
</body>
</html>