<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>upload</title>
</head>
<body>
    <?php echo $mess?>

    <hr>
    <a href="index.php">Home</a>
    <br>
    <a href="index.php/UploadImage">Upload more</a>
</body>
</html>