
/*INDEX*/
.foto {
    width: 300px;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    border: 1px solid brown;
}

.image-conteiner {
    width: 100%;
}

.image-conteiner img {
    width: 100%;
}


/*AUTH*/

.container {
    width: 100%;
    margin: 0;
    padding: 0;
}

.block {
    border: 1px solid brown;
    display: inline-block;
    width: 43%;
    padding: 50px;
    margin: 0;
}

.block h2 {
    width: 100%;
}