<section class="container-fluid">
    <?php if(!empty($images)): ?>
        <?php foreach ($images as $img): ?>
            <div class="foto">
                <a href="<?php echo Yaf_Registry::get("httphost").$img['image_path'] ?>">
                    <div class="image-conteiner">
                        <img src="<?php echo Yaf_Registry::get("httphost").$img['image_path'] ?>" alt="">
                    </div>
                </a>

                <h4>User id: <?php echo $img['user_id'] ?></h4>
                <h4>Username: <?php echo $img['username'] ?></h4>
                <h4>Category: <?php echo $img['Name'] ?></h4>
            </div>
        <?php endforeach; ?>
    <?php endif; ?>
</section>