<a href="index.php/Auth/Logout">Sign out</a>
<br>
<a href="index.php/UploadImage">Upload Image</a>
<hr>
<a href="index.php">Home</a> <span> | </span>
<a href="index.php/Index/newset">last 3 images</a> <span> | </span>
<a href="index.php/Index/random">random 3 images</a> <span> | </span>
<a href="index.php/Index/even">even</a> <span>  </span>
<hr>