<html>
<head>
    <title>Hello World</title>
    <?php require_once ("links.phtml")?>
</head>
<body>

<?php include('menu.phtml')?>

<?php echo $action?>

<?php require ("gallery.phtml")?>

</body>
</html>