<html>
<head>
    <title>Auth</title>
    <link rel="stylesheet" href="<?php echo Yaf_Registry::get("httphost")?>public/css/main.css">
</head>
<body>
<section>
    <div class="container">
        <div class="block">
            <h2>Autorisation</h2>
            <form action="index.php/auth/login" method="POST">
                <label for="login">login</label>
                <input name="login" required type="text"  id="login">
                <br>
                <label for="pass">Password</label>
                <input name="pass" required type="password"  id="pass">
                <br>
                <button type="submit" >Login</button>
            </form>
        </div>
        <div class="block">
            <h2>Registration</h2>
            <form action="index.php/auth/registration" method="POST">
                <label for="login">login</label>
                <input name="login" required type="text"  id="login">
                <br>
                <label for="pass">Password</label>
                <input name="pass" required type="password"  id="pass">
                <br>
                <label for="first_name">First name</label>
                <input name="first_name" required type="text"  id="first_name">
                <br>
                <label for="last_name">Last Name</label>
                <input name="last_name" required type="text"  id="last_name">
                <br>
                <label for="email">Email</label>
                <input name="email" required type="email"  id="email">
                <br>
                <button type="submit" >Registration</button>
            </form>
        </div>
    </div>
</section>


</body>
</html>