<html>
<head>
    <title>Registration</title>
</head>
<body>
<h2>Registration
<?php if($error === false):echo "successful </h2>"; ?>
    <a href="index.php/Auth">sign in</a>
<?php endif; ?>
<?php if($error === true): echo "failed </h2>"?>
    <p><?php echo $errorMessage?></p>
    <a href="index.php/Auth">try again</a>
<?php endif; ?>
    <br>
    <a href="index.php">Home</a>
</body>
</html>